<html>
<head>
    <meta name="google-signin-client_id" content="503460778077-3dqonqqijre7t49jj47agqqbre4tat4e.apps.googleusercontent.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBmc6trhZ1kVVDK3oKAK94X0mBIFzqJVYM",
        authDomain: "onlinemultiplayerludo.firebaseapp.com",
        databaseURL: "https://onlinemultiplayerludo.firebaseio.com",
        projectId: "onlinemultiplayerludo",
        storageBucket: "onlinemultiplayerludo.appspot.com",
        messagingSenderId: "503460778077",
        appId: "1:503460778077:web:8282d443649cee28b4fdb4",
        measurementId: "G-MSR17MS3JT"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>   
    <script type="text/javascript" src="<%= baseUrl %>createNickname.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css"/>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <title>Pro Ludo Club</title>
    <style>
        body {
            height: 100%;
            background-size: cover;
            background: url("assets/img/bg3.jpg") no-repeat center center fixed;
        }
        .data {
            display: none;
        }
    </style>
</head>
<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
           <div class="g-signin2" data-width="400" data-height="100" data-longtitle="true" onClick = "this.style.visibility='hidden';" data-onsuccess="onSignIn"></div>
        <div class="col-12 data">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="lobby-box col-md-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">

                            <h3 class="text-center"><img src="assets/img/logo.png"> Pro Ludo Club</h3></div>
                        <div class="card-body">
                            <div id="form">
                                

                                <div class="input-group mb-3">
                                    <input type="text" id="playerName" name="playerName" class="form-control" placeholder="Nickname" value="" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button id="createNickname" class="btn btn-outline-secondary" type="button" id="button-addon2">Join Now</button>
                                    </div>
                                </div>



                                <div class="form-row align-items-center">
                                    <div class="col-sm-12">
                                        <label id="nicknameError" style="color:red; font-weight: bold;"></label>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>


</body>
